extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", aklt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel urna a neque mollis laoreet. Aenean faucibus volutpat magna eu eleifend. Vestibulum commodo, enim vitae tempor maximus, eros elit tristique ex, in pharetra metus urna ac quam. 

                p Nunc ut velit interdum dignissim. Quisque sed molestie velit. Praesent blandit ligula non urna vestibulum euismod eu sed risus. Curabitur sit amet tellus porttitor, convallis magna at, imperdiet mauris. Aenean elit tellus, volutpat a ante ut, dictum scelerisque ex. Etiam id ante blandit, vehicula risus nec, malesuada ligula. Duis efficitur ante quis erat sagittis, a molestie magna maximus. Morbi commodo velit hendrerit malesuada facilisis. Maecenas ac dapibus dui. Duis gravida vestibulum sollicitudin. Curabitur porttitor suscipit erat. Vivamus sed dui accumsan, rhoncus urna tempor, efficitur leo. Sed aliquet, risus nec aliquet posuere, tellus purus viverra lorem, sit amet finibus nunc mi at nisl. Suspendisse id fringilla libero. Nulla vestibulum suscipit feugiat. In hac habitasse platea dictumst.

                p Taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras varius ultricies nibh, id cursus ipsum iaculis sit amet. Nullam at varius est. Sed sed tincidunt sem. Donec eu eleifend risus. Mauris maximus placerat metus, eget sagittis leo imperdiet eget. In vehicula mi a neque placerat condimentum. 

    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit